.icon-sm{
  width:0.93rem;
  height:0.93rem;
}
.icon-md{
  width:4.2rem;
  height: 4.2rem;
}
.icon-xl{
  width:5.8rem;
  height: 5.8rem;
}
.h-3re{
  height: 3rem !important;
}
.h-2re{
  height: 2.5rem !important;
}
.h-5re{
  height: 5rem !important;
}
.h-7re{
  height: 6rem !important;
}