.c-simple-table {
    table thead {
        display: flex;
        width: 100%;
    }

    table thead th {
        width: 100%;
    }

    table tbody {
        display: flex;
        width: 100%;
    }

    table tbody td {
        width: 100%;
    }
}
